<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Title</th>
      <th scope="col">Amount</th>
      <th scope="col">Income or Expensive</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let money of moneyArray">
      <th scope="row">{{money.date | date :'d.MM'}}</th>
      <td>{{money.title}}</td>
      <td>{{money.amount}}</td>
      <td>{{money.isIncome ? 'Income' : 'Expender'}}</td>
      <td>{{money.description}}</td>
    </tr>
  </tbody>
</table>

{{moneyArray.length}}