<table class="table" [ngClass]="{'modal-backdrop fade show' : false}">
  <thead class="thead-light">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Title</th>
      <th scope="col">Amount</th>
      <th scope="col">Income or Expensive</th>
      <th scope="col">Description</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let money of moneyArray">
      <th scope="row">{{money.date | date :'d.MM'}}</th>
      <td>{{money.title}}</td>
      <td>{{money.amount}}</td>
      <td>{{money.isIncome ? 'Income' : 'Expender'}}</td>
      <td>{{money.description}}</td>
      <td><button type="button" class="btn btn-light" (click)="putItamToDelete(money)" data-toggle="modal" data-target="#deleteWarning">Delete</button></td>
    </tr>
  </tbody>
</table>
<div class="container">
  <div class="row">
    <div class="col" style="text-align: left;">
      <button class="btn btn-secondary btn-arrow-left btn-fix" (click)="oneMonthPrev()" [disabled]="disablePerv()"> Prev</button>
    </div>
    <form [formGroup]="date" (ngSubmit)="onSubmit()">
    <div class="">
          <div class="input-group mb-1">
             <input type="text" formControlName="month" (focus)="focusOnMonth()" (blur)="notFocusOnMonth()" class="form-control month-fix">
             <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">/</span> 
            </div>
            <input type="text" formControlName="year" (focus)="focusOnYear()" (blur)="notFocusOnYear()" class="form-control year-fix">
          </div>
      </div>
    </form>
    <div class="col align-self-end" style="text-align: right;">
      <button class="btn btn-secondary btn-arrow-right btn-fix" (click)="oneMonthNext()" [disabled]="disableNext()"> Next</button>
    </div>
  </div>
</div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
  Add new
</button>
<div class="modal fade bd-example-modal-lg" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add new</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-add></app-add>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="deleteWarning" tabindex="-1" role="dialog" aria-labelledby="deleteWarningLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteWarningLabel">Warning!!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          This action will delete this line forever
          aru you sure that you want to do that?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="releaseItam()" data-dismiss="modal">Hell no!</button>
          <button type="button" class="btn btn-primary" (click)="deleteLine()" data-dismiss="modal">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Your date was invalid!</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="closeModal()">Got it!</button>
    </div>
  </ng-template>
  
  <!--<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>-->